*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

#navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    background:transparent;
    transition:0.3s;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:rgb(15, 72, 230);
}

.scrolled{
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.scrolled .logo{
    color:#222;
}

.scrolled .nav-links a{
    color:#4524d8;
}

.scrolled .nav-links a:hover{
    color:#ff6600;
}

.home{
    height:100vh;
    padding-top:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
    text-align:center;
}

.home h1{
    font-size:45px;
    margin-bottom:20px;
}

.home p{
    font-size:20px;
}

.content{
    padding:80px 50px;
    line-height:1.8;
    background:white;
}

.content h2{
    margin-bottom:20px;
}
